html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background: lightblue url(images/dreamland.jpg); background-size: 100% 100%; background-repeat: no-repeat;')
    header
      div(class='row', style='background-color:#ff99cc')
        h1
          | Tournament Index
    nav
    br
    div(class='well col-md-offset-3 col-md-6')
      if (apikey)
      form(class='form-inline', role='form', action='/createTournament', method='post')
        div(class='form-group')
          input(type='hidden', name='usr', value=usr)
          input(class='form-control', type='text', name='tournamentName', placeholder='Tournament Name', autofocus) 
        button(class='btn', type='submit') Create Tournament
      //
        div
          form(action='/deleteTournaments', method='post')
            input(type='hidden', name='usr', value=usr)
            button(class='btn', type='submit') Delete All Tournaments
      div(class='center-block')
        h3
          | Active Tournaments:
        table(style='margin:0px auto')
          tbody
            each val, key in tournamentData
              if (val.tournament.state != 'complete')
                tr
                  td(class='text-center')
                    form(class='form-inline', role='form', action='/tournament', method='get')
                      input(type='hidden', name='usr', value=usr)
                      input(type='hidden', name='id', value=val.tournament.id)
                      button(class='btn', type='submit') #{val.tournament.name}
                //
                  a(href="tournament?usr=#{usr}&id=#{val.tournament.id}") #{val.tournament.name}