html
  head
    title= p1 + ' vs ' + p2
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        | #{p1}  vs #{p2}
        div
          a(href="tournament?id=#{tournamentId}") 
            button Cancel 
          form(action='/reportScore',method='post')
            input(type='hidden' name='tournamentId' value=tournamentId)
            input(type='hidden' name='matchId' value=matchId)
            input(type='hidden' name='winnerId' value=p1Id)
            input(type='hidden' name='scoresCsv' value='2-0')
            input(type='submit', value='2-0', data-transition='fade', data-theme='c')
          form(action='/reportScore',method='post')
            input(type='hidden' name='action' value='reportScore')
            input(type='hidden' name='tournamentId' value=tournamentId)
            input(type='hidden' name='matchId' value=matchId)
            input(type='hidden' name='winnerId' value=p1Id)
            input(type='hidden' name='scoresCsv' value='2-1')
            input(type='submit', value='2-1', data-transition='fade', data-theme='c')
          form(action='/reportScore',method='post')
            input(type='hidden' name='action' value='reportScore')
            input(type='hidden' name='tournamentId' value=tournamentId)
            input(type='hidden' name='matchId' value=matchId)
            input(type='hidden' name='winnerId' value=p2Id)
            input(type='hidden' name='scoresCsv' value='1-2')
            input(type='submit', value='1-2', data-transition='fade', data-theme='c')
          form(action='/reportScore',method='post')
            input(type='hidden' name='action' value='reportScore')
            input(type='hidden' name='tournamentId' value=tournamentId)
            input(type='hidden' name='matchId' value=matchId)
            input(type='hidden' name='winnerId' value=p2Id)
            input(type='hidden' name='scoresCsv' value='0-2')
            input(type='submit', value='0-2', data-transition='fade', data-theme='c')