html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        div
          form(action='/', method='get')
            input(type='submit', value='Back To Index', data-transition='fade', data-theme='c')
          form(action='/submit', method='post')
            input(type='hidden' name='action' value='addParticipant')
            input(type='hidden' name='tournamentName' value='#{tournamentData.tournament.url}')
            input(type='submit', value='Add Participants', data-transition='fade', data-theme='c')
          form(action='/submit', method='post')
            input(type='hidden' name='action' value='startTournament')
            input(type='hidden' name='tournamentName' value='#{tournamentData.tournament.url}')
            input(type='submit', value='Start Tournament', data-transition='fade', data-theme='c')
          a(href="http://challonge.com/#{tournamentData.tournament.url}") Link to challonge page
        //
          div
            select(name='players' multiple)
              each val in playerMap
                option  
                  | #{val}
        div
        form(action='/submit', method='post')
          input(type='text', name='participant')
          input(type='hidden', name='action', value='addParticipant')
          input(type='hidden' name='tournamentName' value='#{tournamentData.tournament.url}')
          input(type='submit', value='Add', data-transition='fade', data-theme='c')
        h1
          | Players:
        table
          tbody
            each val in playerMap
              tr
                td
                  | #{val}
            tr
              td
                | High Priority Matches (Losers bracket):
            each val, key in matchData
              if (val.match.state) == 'open' && (val.match.round < 0)
                tr
                  td
                    a(href="match?p1=#{playerMap[val.match.player1_id]}&p1Id=#{val.match.player1_id}&p2=#{playerMap[val.match.player2_id]}&p2Id=#{val.match.player2_id}&tournamentId=#{tournamentData.tournament.id}&matchId=#{val.match.id}") #{playerMap[val.match.player1_id]}  vs #{playerMap[val.match.player2_id]}
            tr
              td
                | Lower Priority Matches (Winners Bracket):
            each val, key in matchData
              if (val.match.state) == 'open' && (val.match.round > 0)
                tr
                  td
                    a(href="match?p1=#{playerMap[val.match.player1_id]}&p1Id=#{val.match.player1_id}&p2=#{playerMap[val.match.player2_id]}&p2Id=#{val.match.player2_id}&tournamentId=#{tournamentData.tournament.id}&matchId=#{val.match.id}") #{playerMap[val.match.player1_id]}  vs #{playerMap[val.match.player2_id]}                      