html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        div
          form(action='/', method='get')
            input(type='submit', value='Back To Index', data-transition='fade', data-theme='c')
          if tournamentData.tournament.state == 'pending'
            form(action='/startTournament', method='post')
              input(type='hidden' name='tournamentName' value='#{tournamentData.tournament.url}')
              input(type='submit', value='Start Tournament', data-transition='fade', data-theme='c')
          a(href="http://challonge.com/#{tournamentData.tournament.url}") Link to challonge page
        //
          div
            select(name='players' multiple)
              each val in playerMap
                option  
                  | #{val}
        div
        form(action='/addParticipant', method='post')
          input(type='text', name='participant', autofocus)
          input(type='hidden' name='tournamentName' value='#{tournamentData.tournament.url}')
          input(type='submit', value='Add', data-transition='fade', data-theme='c')
        h1
          | Players:
        table
          tbody
            each val in playerMap
              tr
                td
                  | #{val}
            each val, key in matchData
              tr
                td
                  a(href="match?p1=#{playerMap[val.player1_id]}&p1Id=#{val.player1_id}&p2=#{playerMap[val.player2_id]}&p2Id=#{val.player2_id}&tournamentId=#{tournamentData.tournament.id}&matchId=#{val.id}") #{playerMap[val.player1_id]}  vs #{playerMap[val.player2_id]}
